  <script>
  (function() {
    var cx = '011166144219369486853:rdilxf70qja';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<!--
	<gcse:search></gcse:search>
	-->
	<div>
	<b>Related links</b>
	<br><br>
    <a href="https://petition.parliament.uk/petitions/114277">UK Govt petition to remove franchise from Southeastern</a><br>
	   <a href="http://www.facebook.com/groups/serailaction">Facebook Group</a><br>
        <!--
        
        I'm running in the Virgin London Marathon this year, donate here, if you'd like!<br>      
        <a href="http://uk.virginmoneygiving.com/progers" target="_blank" title="Link opens in a new window"><img src="http://uk.virginmoneygiving.com/giving/Images/banners/211x85_donate.png" border="0" alt="Make a donation using Virgin Money Giving"></a><br>
        
	   <a href="https://www.virginmoneylondonmarathon.com/en-gb/">Virgin Money London Marathon</a><br>-->
       <a href="http://philr.me">My personal blog</a>

    <a href="http://drta.org.uk">Dartford Rail Travellers' Association</a>
        
	</div>
	<br>
	<br>
<a class="twitter-timeline" href="https://twitter.com/SERailAction" data-widget-id="688341804954071040">Tweets by @SERailAction</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




